body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;

  background: linear-gradient(to bottom,  #7B0000, black) 

}
header{
  display: flex;
  font-size: 16px;
}

.box-icon{
  padding: 0 1em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 100%;
}  

a{
  text-decoration: none;
  color: black
}
p{
  font-size: 14px;
}

.text{
  padding: 1em;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 18px;
  background-color: #F79007;
}

.box:hover{
  opacity: .8;
}
