body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;

  background: linear-gradient(to bottom,  #7B0000, black) ;
  color: white;

}
.btns-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3em;


  min-width: 400px;
  max-width: 400px;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(to bottom right, black , #800000, red);
  border-radius: 32px;
  
  font-size: 15px;
  font-weight: bold;    
  color: #E6A756;
  
  min-width: 120px;
  max-width: 120px;
  height: 44px;
  
 
  padding: 0.5em;
  margin: 20px;
}
.btns:hover{
  transform: scale(1.1);
}

.box-icon{
  padding: 0 1em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}  

a{
  text-decoration: none;
  color: black;
  text-align: center;
}
p{
  font-size: 22px;
  margin: 0;
  text-align: center;
}

.text{
  padding: 1em;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 18px;
  background-color: #F79007;
  margin: 0 auto;
  margin-bottom: 1em;
}


