*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #272727;
  color: white;
}
a{
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 500;

  color: white;
}
.yellow{
  color: #F79007
}

.red{
  color: #F50707;
}

h2{
  color: #E6A756;
  font-size: 55px;
  font-family: 'Marcellus';
}

header{
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  border-bottom: 1px solid white;
}


.h-direita{
  display: flex;
  justify-content: space-around;
  
  color: white;

  width: 40%;
}

.h-direita a{
  position: relative;
}

.h-direita a::after{
  content: "";
  height: 2px;
  width: 0%;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;

  transition: ease 0.5s;
}

.h-direita a:hover::after{
 width: 100%;
}


section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center ;

  padding: 2em;
}

section h3, iframe, .btn-venda{
  padding: 1em;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;

}
section img{
  margin-bottom: 2em;
}

.btn-venda{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d35003;
  
  font-weight: bold;
  font-size: 22px;

  width: 460px;
  height: 62px;

  margin-top: 3em;

  transition: 1s;
}

.btn-venda:hover{
  cursor: pointer;
  background-color: greenyellow;
}

section h3{
  padding: 0 4em;
  text-align: center;
}
/* Apresentação */

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;

  padding: 2em;
  
}

article h2{
  color: white;
  
  font-family: 'Open Sans';
  font-size: 42px;
  font-weight: 100;
  

  padding-bottom: 1em;
}
.apresenta{
  display: flex;
  justify-content: space-around;
  align-items: center ;
  width: 80%;
} 

.apresenta .text{
  text-align: left;
  line-height: 1.7em;

  font-family: 'Poppins';
  font-size: 12px;
  
  margin-left: 2em ;
}

article h4:first-child{
  font-size: 20px;
  font-family: 'Open Sans';
  padding-bottom: 2em;
  text-decoration: none;
}




/* Metodo de Vendas */
.mtd-vendas{
  margin: auto;
  text-align: center;
  width: 80%;;
}

.mtd-vendas h3, h4{
  font-size: 42px;
  text-decoration: underline 4px #f79007;
  
}

.mtd-vendas h4{
  font-family: "Cabin Condensed";
  font-weight: 300;
  color: #F79007;
  
}

.mtd-vendas ul{
  text-align: left;
 
  border: 5px dashed gray;
 
  width: 100%;
 
  padding: .5em 3em;
  margin: 2em auto;
}

li{
  list-style: none;
  
  font-weight: 300;
  
  padding: .5em;
}

/* Pra quem é esse metodos de vendas */

.obj-de-venda{
  width: 80%;

  margin: auto;
}

.obj-de-venda .titulo-amarelo{
  text-align: center;

  font-family: "Cabin Condensed";
  font-weight: 300;
  font-size: 42px;
  text-decoration: underline #F79007;

  padding: 2em;
}

.box-icons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
  
  width: 80%;

  margin: auto;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 300;

  width: 100%;

  padding: 1em;
}

.box p{
  font-size: 12px;
}

.box-carrossel{
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid yellow;

}

.carrossel{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  height: 650px;


  border: 1px solid red;
}

.carrossel img{
  width: 100%;
  height: 100%;
}

.img {
  border: 1px solid red;

  width: 312px;
  height: 446px;

}

.first-img{
  background-color: red;

  transform: skewY(-20deg);
  width: 280px;
}

.third-img{
  background-color: yellow;

  transform: skewY(20deg);
  width: 280px;

}

/* Beneficios */
.beneficios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: left;

  width: 80%;

  margin: auto;
}

.beneficios h3{
  text-align: center;

  font-family: "Cabin Condensed";
  font-weight: 300;
  font-size: 42px;

  color: #F79007;
}
.beneficios ul{
  width: 60%;
}
.beneficios ul li{
  border-bottom: 2px solid #F79007;

  padding: 13px 0;
}

.beneficios ul li span{
  padding-right: 2em;
}

.beneficios ul li:last-child{
  border: none;
}


/* Compra */

.layout-de-compra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px dashed #f79007 ;
  border-radius: 14px;

  width: 90%;

  margin: 6em auto;
  padding: 2em;
}

.layout-de-compra h2{
  font-family: "Poppins";
  font-size: 36px;
  color: white;
}
.layout-de-compra p{
  padding: .5em;
}

.layout-de-compra .preco-anterior{
  font-size: 20px;
  text-decoration: line-through solid white;

  opacity: .8;
}

.layout-de-compra .preco-parcela{
  font-size: 20px;
  font-weight: 100;

  padding-top: 0;
}

.layout-de-compra .preco-atual{
  font-size: 45px;
  color: #f79007;

  padding: .5em;
}
.layout-de-compra a{
  font-size: 25px;
}

.layout-de-compra .btn-compra {
  text-align: center;
  font-size: 25px;

  background: linear-gradient(to  right,  #F79007 60% ,red);

  width: 450px;

  padding: 1em;
  margin-top: 1em;
}

.layout-de-compra .btn-compra:hover{
  cursor: pointer;

  opacity: .8;
}
.layout-de-compra .preco-avista{
  font-size: 22px;

}

.layout-de-compra p:last-child{
  padding: 1em;
  opacity: .8;
}

/* Garantia */
.garantia{
  display: flex;
  justify-content: space-around;
  align-items: initial;

  width: 80%;

  margin: 2em auto;
}

.garantia .texto-garantia{
  text-align: center;
  line-height: 2em;

  width: 60%;
}

.garantia .texto-garantia p{
  padding: 1em 0;
  font-weight: 300;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

padding: 2em;
}

@media (max-width: 900px){
  .h-direita{
    display: none;
  }

  /* sESSÃO */
  section{
    padding: .5em 0;
  }
  section h3{
    padding: .2em;
  }
  .btn-venda{
    min-width: 300px;
    max-width: 300px;

    font-size: 15px;
    padding: 0 ;
  }
  
  article img{
    width: 300px;
    height: 450px;

    margin-bottom: 2em;
  }

  .mtd-vendas h3{
    margin-bottom: 1em;
  }
  /* Artigo */
  .apresenta{
    flex-direction: column;
  }

  article h2{
    font-size: 30px;
    text-align: center;
  }

  .apresenta .text{
    text-align: justify;

    padding: 0;
    margin: 0;
  }

  .obj-de-venda .titulo-amarelo{
    text-align: center;
    width: 100%;

    font-family: "Cabin Condensed";
    font-weight: 300;
    font-size: 30px;
    text-decoration: underline #F79007;

    padding: 2em 0;
    
  }

  .beneficioss{
    width: 100%;
  }

  .beneficios ul{
    width: 100%;
    padding: .5em;
  }

  .mtd-vendas ul{
    padding: 0;
  }


/* Compra */
  .layout-de-compra .btn-compra{
    font-size: 18px;
    width: 250px;
 
    padding: 1em;

  }

  .layout-de-compra p{
    text-align: center;
  }

  .garantia{
    flex-direction: column;
    align-items: center;
  }
}
