*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  html {
    height: 100%;
    width: 100%;
  }
  body{
    background-color: #272727;
    color: white;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .yellow{
    color: #F79007
  }

  .red{
    color: #F50707;
  }
  
  h2{
    color: #E6A756;
    font-size: 55px;
    font-family: 'Marcellus';
  }
  
  header{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 3em 5em;
    border-bottom: 1px solid white;
  }
  
  header a:hover{
    opacity: 0.8;  
  }
  
  .h-direita{
    display: flex;
    justify-content: space-around;
    color: white;

    width: 40%;
  }


  section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    padding: 2em;
  }

  section h3, iframe, .btn-venda{
    padding: 1em;
  }

  .btn-venda{
    
    background-color: #d35003;
    font-size: 25px;

    padding: 1em;
    margin-top: 1em;

    transition: 1s;
  }

  .btn-venda:hover{
    cursor: pointer;
    background-color: greenyellow;
  }

  section h3{
      padding: 0 4em;
      text-align: center;
  }
  /* Apresentação */

  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;

    padding: 2em;
    
  }

  article h2{
    color: white;
    font-weight: 100;
  }

  .apresenta{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    width: 80%;
  } 

  .apresenta .text{
    text-align: left;
    line-height: 2em;
    font-size: 13px;
    margin-left: 2em ;
  }
/* Metodo de Vendas */
  .mtd-vendas{
   margin: auto;
  text-align: center;
  width: 80%;;
  }

  .mtd-vendas h4{
    font-size: 40px;
    text-decoration: underline 4px #f79007;
    color: #F79007;
    
  }

  .mtd-vendas ul{
    border: 5px dashed gray;
    margin: 2em auto;
    padding: .5em 8em;
    width: 100%;
    text-align: left;
  }

  li{
    list-style: none;
    padding: .5em;
  }

/* Pra quem é esse metodos de vendas */

.obj-de-venda{
  width: 80%;
  margin: auto;
}

.obj-de-venda .titulo-amarelo{
  text-align: center;
  font-size: 32px;
  text-decoration: underline #F79007;
  padding: 2em;
}

.box-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
  
    margin: auto;
    border: 1px solid yellow;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1em;

  border: 1px solid red;
}
.carrosel{
  text-align: center;
  padding: 3em 0;
}
/* Beneficios */
.beneficios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  text-align: left;
}

.beneficios h3{
  text-align: center;

  font-size: 42px;
  font-weight: 100;
  color: #F79007;
}
.beneficios ul{
  width: 60%;
}
.beneficios ul li{
  padding: 13px 0;

  border-bottom: 2px solid #F79007;
}

.beneficios ul li:last-child{
  border: none;
}


/* Compra */

.layout-de-compra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 90%;

  margin: 6em auto;
  padding: 2em;
  
  border: 1px dashed #f79007 ;
  border-radius: 14px;
}

.layout-de-compra h2{
  font-size: 36px;
  color: white;
}
.layout-de-compra p{
  padding: .5em;
}

.layout-de-compra .preco-anterior{
  opacity: .8;
  font-size: 20px;
  text-decoration: line-through solid white;
}

.layout-de-compra .preco-parcela{
  font-size: 20px;
  font-weight: 100;

  padding-top: 0;
}

.layout-de-compra .preco-atual{
  font-size: 45px;
  color: #f79007;

  padding: .5em;
}

.layout-de-compra .btn-compra{
  background: linear-gradient(to  right,  #F79007 60% ,red);

  text-align: center;
  font-size: 25px;
  
  max-width: 500px;
  min-width: 450px;

  padding: 1em;
  margin-top: 1em;
}

.layout-de-compra .btn-compra:hover{
  cursor: pointer;

  opacity: .8;
}
.layout-de-compra .preco-avista{
  font-size: 22px;

}

.layout-de-compra p:last-child{
  padding: 1em;
  opacity: .8;
}

/* Garantia */
.garantia{
  display: flex;
  justify-content: space-around;
  align-items: initial;
  width: 80%;

  margin: 2em auto;
}

.garantia .texto-garantia{
  width: 60%;
  line-height: 2em;
  text-align: center;

}

.garantia .texto-garantia p{
  padding: 1em 0;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: white;
}
